<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #bookForm="ngForm" (ngSubmit)="submitBookRequestForm(bookForm)">
        <div class="form-group">
            <label for="bookTitle">Book Title</label>
              <input type="text" id="bookTitle" name="bookTitle" class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label for="bookAuthor">Book Author</label>
              <input type="text" id="bookAuthor" name="bookAuthor" class="form-control" ngModel>
        </div>
        <div>
          <button type="submit" class="btn btn-default">submit</button>
        </div>
      </form>
     </div>
  </div>
</div>
